@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Rubik", sans-serif;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

.main-header {
    background-color: #2840b8;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 20;

    .input-burger {
        display: none;
    }

    .burger-menu {
        color: white;
        display: flex;
        align-items: center;
        font-size: 1.25rem;
        display: none;
    }


    .main-header-left {
        display: flex;
    }

    .main-logo {
        place-content: end;

        .main-logo-img {
            height: 44px;
            object-fit: cover;
        }
    }

    .user-info {
        color: rgb(253, 253, 253);
        place-content: center;

        .user-name {
            margin-right: .5rem;
        }

        .cart-icon {
            font-size: 1.25rem;
            position: relative;
            cursor: pointer;

            &::after {
                content: attr(data-count);
                width: 16px;
                height: 16px;
                background-color: red;
                position: absolute;
                top: -10px;
                right: -8px;
                border-radius: 50%;
                font-size: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 300;
            }
        }
    }
}

.main-header .nav-list {
    list-style: none;
    display: flex;
}

.main-header .nav-item {
    display: flex;
}

.main-header .nav-link {
    color: #fff;
    padding: 1rem;
    display: flex;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    align-items: center;
    transition: background-color 0.3s;
}

.main-header .nav-link:hover {
    background-color: #1f2e9b;
}

.section-banner {
    background-color: #f5f5f5;
    position: relative;
    height: 400px;
}

.banner-info {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    /* backdrop-filter: brightness(40%) blur(5px); */
    color: white;
    bottom: 20px;

    width: 90%;
    max-width: 800px;

    left: 50%;
    translate: -50%;
    padding: 1rem 2rem;
}

.banner-info .banner-title {
    margin-bottom: 12px;
    text-align: center;
    font-size: 2rem;
    letter-spacing: 2px;
    /* text-shadow: 1px 1px 3px black; */
    font-weight: normal;
}

.banner-info .banner-text {
    line-height: 1.5;
}

.section-banner img {
    width: 100%;
    /* height: calc(100vh - 64px); */
    height: 100%;
    object-fit: cover;
}

.main-container {
    flex-grow: 1;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    border: solid rgb(255, 0, 234);
}

.product-section {
    padding: 1rem;

    /* .product-title {
        color: red;

        span {
            color: blue;
        }
    } */

}

.product-section .product-title {
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;

}

.product-section .product-subtitle {
    font-size: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    display: block;
    text-transform: uppercase;
    color: #777;
    font-weight: 300;
}

.product-card-container {
    border: 1px solid green;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.product-card {
    background-color: rgb(252, 155, 155);
    padding: 16px;
    border-radius: 8px;
    width: 280px;
    border: 1px solid transparent;
    transition: margin 0.3s, border 0.3s, box-shadow 0.3s;
    margin-bottom: 68px;

    &:hover {
        border: 1px solid #ddd;
        box-shadow: 0 0 10px #00000026;
        margin-bottom: 0;

        .btn-quickview {
            visibility: visible !important;
            opacity: 1 !important;
        }

        .card-footer {
            visibility: visible;
            opacity: 1;
            margin-top: 0;
        }
    }

    .product-models {
        display: flex;
        justify-content: center;
        gap: 4px;

        .circle-image {
            width: 30px;
            height: 30px;
            border: 1px solid #e0e0e0;
            border-radius: 50%;
            padding: 2px;

            &:hover {
                border-color: royalblue;
                cursor: pointer;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }



    .product-image {
        position: relative;

        img {
            width: 100%;
            height: 200px;
            object-fit: cover;
        }

        .btn-quickview {
            position: absolute;
            bottom: 48px;
            left: 50%;
            translate: -50%;
            padding: 0 30px;
            font-size: .75rem;
            line-height: 1;
            text-align: center;
            background: #eef0f1;
            height: 35px;
            width: 70%;
            border: 1px solid #e1e1e1;
            border-radius: 3px;
            text-transform: uppercase;
            font-weight: 600;
            cursor: pointer;
            opacity: 0;
            visibility: hidden;
            transition: visibility 0.3s, opacity 0.3s;

            &:hover {
                background-color: #fed700;
                border-color: #fed700;
            }
        }
    }

    .product-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 12px;
        padding: 10px 0;
        border-bottom: 1px solid #ebebeb;

        .product-category {
            color: #a4a4a4;
        }

        .product-review {
            color: #fed700;
        }
    }

    .product-name {
        font-size: 1rem;
        padding: 10px 0;
        text-transform: capitalize;

        a {
            color: #0363cd;
            text-decoration: none;

            /* Limitar el número de líneas de texto con CSS */
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .product-price {
        display: flex;
        gap: 1rem;
        align-items: baseline;
        line-height: 24px;

        .product-discount-price {
            color: #e80f0f;
            font-weight: 500;
            font-size: 18px;
        }

        .product-normal-price {
            color: #a4a4a4;
            font-size: 14px;
            text-decoration: line-through;
        }
    }

    .card-footer {
        padding-top: 16px;
        display: flex;
        gap: 4px;
        align-items: center;
        color: #242424;
        opacity: 0;
        visibility: hidden;
        margin-top: -68px;
        transition: all 0.3s;

        button {
            font-size: 14px;
            line-height: 1;
            text-align: center;
            border-radius: 3px;
            text-transform: uppercase;
            font-weight: 600;
            padding: 12px 20px;
            background-color: #eef0f1;
            border: 1px solid #e1e1e1;
            cursor: pointer;

            &.btn-icon {
                padding: 12px 8px;
                color: #a4a4a4;
            }

            &:hover {
                background-color: #fed700;
                border-color: #fed700;
                color: inherit;
            }
        }
    }
}




.main-footer {
    background-color: #333;
    color: #fff;
    padding: 2rem;
}

@media screen and (width <=500px) {

    .banner-text {
        display: none;
    }

    .main-header {
        box-shadow: 0 2px 4px #222;

        .burger-menu {
            display: flex;
        }

        .burger-line {
            width: 16px;
            height: 2px;
            background-color: white;
            position: relative;
        }

        .burger-line::before,
        .burger-line::after {
            content: "";
            width: 16px;
            height: 2px;
            background-color: white;
            position: absolute;
            top: -5px;
            transition: transform .3s ease-in-out;
        }

        .burger-line::after {
            top: 5px;
        }

        .input-burger:checked~.burger-menu .burger-line {
            background-color: transparent;
        }

        .input-burger:checked~.burger-menu .burger-line::before {
            transform: rotate(-45deg);
            top: 0;
        }

        .input-burger:checked~.burger-menu .burger-line::after {
            transform: rotate(45deg);
            top: 0;
        }


        .main-nav {
            position: fixed;
            left: -300px;
            top: 48px;
            width: 300px;
            height: 100vh;
            z-index: 1;
            background-color: #2840b8;
            transition: all .3s ease-in-out;

            .nav-list {
                flex-direction: column;

                .nav-item {
                    display: block;

                    &:not(:last-child) {
                        border-bottom: 1px solid #13257d80;
                    }
                }
            }


        }

        .input-burger:checked~.main-header-left .main-nav {
            left: 0;

        }

        .user-info {
            .user-name {
                display: none;
            }
        }
    }


}
